@tailwind base;
@tailwind components;
@tailwind utilities;

.section-title::after {
  content: "";
  @apply bg-[#ff4a57] h-1 w-14 mt-11;
}
.skill::before {
  content: "";
  @apply w-full h-1 bg-[#23263a] absolute block bottom-0;
}
.skill-percentage::after {
  content: "";
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 5px solid white;
  @apply absolute top-7 right-4;
}

@keyframes typing {
  from {
    width: 0;
    border-right: 0.15em solid white;
  }
  to {
    width: 100%;
    border-right: none;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: white;
  }
}
.typer h1 {
  animation: typing 3s steps(20), blink-caret 0.5s step-end 7 normal;
  white-space: nowrap;
  overflow: hidden;
 
}
@media only screen and (max-width: 410px) {
  .typer h1 {
    margin: 0 auto;
  }
}
