@tailwind base;
@tailwind components;
@tailwind utilities;

.section-title::after {
  content: "";
  @apply bg-[#ff4a57] h-1 w-14 mt-11;
}
.skill::before {
  content: "";
  @apply w-full h-1 bg-[#23263a] absolute block bottom-0;
}
.skill-percentage::after {
  content: "";
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 7px solid white;
  @apply  absolute top-7 right-4;
}
